.action-bar
  form(action=_('/admin/articles/catalog/'),method='POST').form-inline
    input(type='hidden',name='action',value='changeCatalog')
    label(for='catalog-list') 分类：
    .input-append
      select(name='catalog')#catalog-list
        each c in catalogs
          if catalog.id  == c.id
            option(value=c.id,selected)= c.name
          else
            option(value=c.id)= c.name

      button(type='submit').btn 转到
    | &nbsp;
    a(href=_('/admin/articles/catalog/')).btn 分类管理
  a(href=_('/admin/article/new')).btn.btn-success 新建文章
  .clearfix

table.table.table-hover
  thead
    th.span5 标题
    th 作者
    th 日期
    th 动作
  tbody
    each post in posts
      tr 
        td= post.title
        td= post.author.name
        td= post.date
        td.action
          a(href=_('/admin/article/edit/'+post.url)).btn.btn-mini
            | 编辑
          | 
          a(href=_('/admin/article/del/'+post.url)).btn.btn-mini
            | 删除
