extends layout

block append head
  script(type='text/javascript')
    $(function() {
      $('#date').text(Date());
      setInterval(function () {
        $('#date').text(Date());
      }, 1000);
    });

block admin-stage
  .page-content.row-fluid
    .span3
      ul.nav.nav-list.well.well-small
        li.nav-header 常规管理
        li: a(href=_('/admin/articles/')) 管理文章
        li: a(href=_('/admin/pictures/')) 图片库
        li.nav-header 管理员
        if user.role == 0
          li: a(href=_('/admin/users/')) 用户管理
          li: a(href=_('/admin/feedbacks')) 反馈
        li.nav-header 消息
        li
          a(href=_('/admin/messages/'))
            | 消息 
            span.badge.badge-info= numOfUnread?numOfUnread:0

    .span9
      p#date
      table.table.table-bordered.user-box
        tr
          td(rowspan='2').user-pic
            img(src=_(user.pic))
          td= user.name
        tr
          td= user.loginDate
        tr
          td(colspan='2')= user.description ? user.description : '暂无描述。'
      p 选择右边的管理方式进行文章、图片的管理。
