extends site

block append head
  link(rel='stylesheet', href=_('/stylesheets/article.css'))

block main-stage
  .main-stage-inner.article
    if typeof post != 'undefined'
      .date-box
        .date= post.date.getDate()
        .year-month= post.date.getFullYear()+' / '+(post.date.getMonth()+1)
      .title= post.title
      .info
        | by 
        span.author=  post.author.name
      .text
        !{post.html}
      .action
        .jiathis_style
          a(data='width=100').jiathis_like_tsina
          a(data='width=100').jiathis_like_qzone
          a(data='width=100').jiathis_like_renren
          .clearfix
        script(type='text/javascript')
          var jiathis_config = { data_track_clickback:'true'};
        script(type='text/javascript',src='http://v3.jiathis.com/code_mini/jia.js?uid=1351757216554483',charset='utf-8',async='true')

        #uyan_frame.uyan_frame
        script(
          id='UYScript'
          src='http://www.uyan.cc/js/iframe.js?UYUserId=1735456'
          type='text/javascript'
          async='true'
        )

    else
      p No content?


