extends site

block main-stage
  .main-stage-inner
    .page-header
      h1 谢谢支持

    p.text
      :markdown
        感谢您对我们的关心和支持，
        如果有什么可以改进的可以提交给我们，
        用户的信赖和支持是我们前进的最大动力。

    form(action=_('/feedback'),method='POST').form-horizontal
      fieldset

        .control-group
          label(for='comment').control-label 反馈内容
          .controls
            textarea(name='feedback[comment]',placeholder='您对本站的感觉')#comment

        .control-group
          label(for='email').control-label 您的邮箱地址
          .controls
            input(type='text',name='feedback[email]',placeholder='Email地址')#email

      .form-actions
        button(type='submit').btn.btn-primary 提交

